.example-buttons {
    margin-bottom: -15px;

    button,
    a {
        margin: {
            right: 15px;
            bottom: 15px;
        }

        ;
    }
}

input.disabled-look {
    background-color: #e9ecef;
    color: #6c757d;
    border-color: #ced4da;
    cursor: not-allowed;
    opacity: 1;
}

.circle-icon-btn {
    width: 35px;
    height: 35px;
    border-radius: 60%;
    border: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
    padding: 0;
    margin-left: 3px;
}

.circle-icon-btn i.material-symbols-outlined {
    font-size: 22px;
    color: #7d7d7d;
}

.circle-icon-btn:hover {
    background: #f2f2f2;
}