<div
    class="toast-container transition position-fixed bottom-0 end-0 p-3"
    [class.show]="toast"
>
    <div class="toast" role="alert">
        <div class="toast-header">
            <strong class="me-auto">{{ toastTitle }}</strong>
            <button
                type="button"
                class="btn-close shadow-none"
                aria-label="Close"
                (click)="toggleToast()"
            ></button>
        </div>
        <div class="toast-body">
            {{ toastBody }}
        </div>
    </div>
</div>

<div class="account-settings-card">
    <h5>Profile</h5>
    <p>Update your personal details here.</p>
    <form [formGroup]="UpdateForm">
        <div class="row">
            <div class="col-sm-6 position-relative">
                <div class="position-relative">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Full Name
                        </label>
                        <input
                            formControlName="fullName"
                            type="text"
                            class="form-control"
                        />
                    </div>
                </div>
                <span class="text-danger error" *ngIf="formErrors.fullName">
                    {{ formErrors.fullName }}
                </span>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="main-label d-block fw-medium text-black">
                        Email Address
                    </label>
                    <input
                        formControlName="email"
                        type="text"
                        class="form-control"
                        readonly
                    />
                </div>
                <span class="text-danger error" *ngIf="formErrors.email">
                    {{ formErrors.email }}
                </span>
            </div>
            <div class="col-sm-6 position-relative">
                <div class="position-relative">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Phone Number
                        </label>
                        <input
                            formControlName="phone"
                            type="text"
                            class="form-control"
                        />
                    </div>
                </div>
                <span class="text-danger error" *ngIf="formErrors.phone">
                    {{ formErrors.phone }}
                </span>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="main-label d-block fw-medium text-black">
                        Country
                    </label>
                    <select
                        formControlName="country"
                        id="country"
                        class="form-control"
                    >
                        <option value="">Select Country</option>
                        <option *ngFor="let c of countriesArr" [value]="c.name">
                            {{ c.name }}
                        </option>
                    </select>
                    <!-- <select class="form-select">
                    <option>
                        Select
                    </option>
                    <option value="1">
                        Switzerland
                    </option>
                    <option value="2">
                        New Zealand
                    </option>
                    <option value="3">
                        Germany
                    </option>
                    <option value="4">
                        United States
                    </option>
                    <option value="5">
                        Japan
                    </option>
                    <option value="6" selected>
                        Netherlands
                    </option>
                    <option value="7">
                        Sweden
                    </option>
                    <option value="8">
                        Canada
                    </option>
                    <option value="9">
                        United Kingdom
                    </option>
                    <option value="10">
                        Australia
                    </option>
                </select> -->
                </div>
            </div>
            <!-- <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    Gender
                </label>
                <select class="form-select">
                    <option>
                        Select
                    </option>
                    <option value="1" selected>
                        Male
                    </option>
                    <option value="2">
                        Female
                    </option>
                    <option value="3">
                        Custom
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    Your Skills
                </label>
                <select class="form-select">
                    <option>
                        Select
                    </option>
                    <option value="1" selected>
                        Leadership
                    </option>
                    <option value="2">
                        Project Management
                    </option>
                    <option value="3">
                        Data Analysis
                    </option>
                    <option value="4">
                        Teamwork
                    </option>
                    <option value="5">
                        Web Development
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    Your Profession
                </label>
                <select class="form-select">
                    <option>
                        Select
                    </option>
                    <option value="1" selected>
                        Financial Manager
                    </option>
                    <option value="2">
                        IT Manager
                    </option>
                    <option value="3">
                        Software Developer
                    </option>
                    <option value="4">
                        Physician Assistant
                    </option>
                    <option value="5">
                        Data Scientist
                    </option>
                </select>
            </div>
        </div> -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="main-label d-block fw-medium text-black">
                        Company Name
                    </label>
                    <input
                        formControlName="companyName"
                        type="text"
                        class="form-control"
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="main-label d-block fw-medium text-black">
                        Company Website
                    </label>
                    <input
                        formControlName="companyWebsite"
                        type="text"
                        class="form-control"
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="main-label d-block fw-medium text-black">
                        Company Phone
                    </label>
                    <input
                        formControlName="companyPhone"
                        type="text"
                        class="form-control"
                    />
                </div>
            </div>
            <!-- <div class="col-sm-12">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    Add Your Bio
                </label>
                <textarea class="form-control">It makes me feel...</textarea>
            </div>
        </div> -->
        </div>
    </form>

    <!-- <h4>
        Your Photo
    </h4>
    <p>
        This will be displayed on your profile.
    </p>
    <div class="form-group">
        <file-upload class="file-uploader"></file-upload>
    </div>
    <h4>
        Socials Profile
    </h4>
    <p></p>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    Facebook
                </label>
                <input type="text" class="form-control" value="https://www.facebook.com/">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    X
                </label>
                <input type="text" class="form-control" value="https://x.com/">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    LinkedIn
                </label>
                <input type="text" class="form-control" value="https://www.linkedin.com/">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="main-label d-block fw-medium text-black">
                    YouTube
                </label>
                <input type="text" class="form-control" value="https://www.youtube.com/">
            </div>
        </div>
    </div> -->
    <div class="form-btn-box">
        <a
            routerLink="/dashboard"
            class="btn btn-danger warn d-inline-block fw-medium border-radius border-0 transition"
        >
            Cancel
        </a>
        <button
            type="button"
            [disabled]="
                formErrors.phone ||
                formErrors.fullName ||
                formErrors.email ||
                formErrors.country
            "
            (click)="Update()"
            class="btn btn-primary d-inline-block fw-medium border-radius border-0 transition"
        >
            Update Profile
        </button>
    </div>
</div>
